language: android

env:
 global:
 - ANDROID_HOME=$HOME/android-sdk
 - ANDROID_API=28
 - EMULATOR_API=28
 - ANDROID_BUILD_TOOLS=28.0.3
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-$ANDROID_BUILD_TOOLS

    # The SDK version used to compile your project
    - android-$ANDROID_API

    # Additional components
    # - extra-google-google_play_services
    # - extra-google-m2repository
    # - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-$ANDROID_API
    # - sys-img-armeabi-v7a-android-17
  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+

jdk: oraclejdk8
  
before_install:
  - yes | sdkmanager "platforms;android-28"
  - chmod +x gradlew

script: ./gradlew --no-daemon --parallel lintDebug testDebug
